@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

.red{
  color:red;
}

.blue{
  color: green;
}

.card{
  background: crimson;
  color: white;
  padding: 15px;
  width: 300px;
}
.bg-red{
  background: green;
}